// Variables & values for card
$bgcolor: gray;
$textcolor: white;
$fontsize: 20px;

.card {
    font-size: $fontsize;
    padding: .5rem;
    text-align: left;
    // float: left;
    width: 300px;
    background: white;
    border-radius: 20px;
    text-align: left;
    float: left;
    border: solid black .2rem;
    opacity:0.8;
    transition: 0.3s;
        &:hover{
            border: solid black .2rem;
            background: white;
            color: black;
            border-radius: 20px;
            opacity: 1;
        }
        &:active{
            border: solid black .2rem;
            background: black;
            color: white;
            border-radius: 20px;
        }
}
