// Variables & values for header
$bgcolor: gray;
$textcolor: white;
$fontsize: 20px;

.header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: center;
}

.container {
    text-align: center;
}

.card-container {
    padding-bottom: .25rem;
    display: flex;
    justify-content: center;
}