// Variables & values for navbar
$bgcolor: gray;
$textcolor: white;
$fontsize: 20px;

body {
    margin: 0;
}

nav {
    height: 150px;
    background-color: $bgcolor;
    font-size: $fontsize;
    color: $textcolor;

    a{
        text-decoration: none;
        color: $textcolor;
        float: right;
        padding: 10px;
        margin: 5px;

        &:hover {
            border: 1px solid black;
            border-radius: 30px;
            background: black;
            color: $textcolor;
        }
    }
}

.signinBtn{
    text-decoration: none;
    color: $textcolor;
    float: right;
    background: royalblue;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;

    &:hover{
        background: saddlebrown;
    }
}
